# Copy this file to /etc/udev/rules.d/ and unplug/replug you device.
# PID/VID must be lower case hexadecimals.

# WingMan Formula (Yellow)
SUBSYSTEM=="hidraw", ATTRS{busnum}=="1", ATTRS{idVendor}=="046d", ATTRS{idProduct}=="c202", GOTO="apply_rule"
# Formula GP
SUBSYSTEM=="hidraw", ATTRS{busnum}=="1", ATTRS{idVendor}=="046d", ATTRS{idProduct}=="c20e", GOTO="apply_rule"
# WingMan Formula Force GP
SUBSYSTEM=="hidraw", ATTRS{busnum}=="1", ATTRS{idVendor}=="046d", ATTRS{idProduct}=="c293", GOTO="apply_rule"
# Driving Force / EX / RX / Formula Force EX
SUBSYSTEM=="hidraw", ATTRS{busnum}=="1", ATTRS{idVendor}=="046d", ATTRS{idProduct}=="c294", GOTO="apply_rule"
# MOMO Force
SUBSYSTEM=="hidraw", ATTRS{busnum}=="1", ATTRS{idVendor}=="046d", ATTRS{idProduct}=="c295", GOTO="apply_rule"
# Driving Force Pro
SUBSYSTEM=="hidraw", ATTRS{busnum}=="1", ATTRS{idVendor}=="046d", ATTRS{idProduct}=="c298", GOTO="apply_rule"
# G25
SUBSYSTEM=="hidraw", ATTRS{busnum}=="1", ATTRS{idVendor}=="046d", ATTRS{idProduct}=="c299", GOTO="apply_rule"
# Driving Force GT
SUBSYSTEM=="hidraw", ATTRS{busnum}=="1", ATTRS{idVendor}=="046d", ATTRS{idProduct}=="c29a", GOTO="apply_rule"
# G27
SUBSYSTEM=="hidraw", ATTRS{busnum}=="1", ATTRS{idVendor}=="046d", ATTRS{idProduct}=="c29b", GOTO="apply_rule"
# MOMO Racing
SUBSYSTEM=="hidraw", ATTRS{busnum}=="1", ATTRS{idVendor}=="046d", ATTRS{idProduct}=="ca03", GOTO="apply_rule"
# Racing wheel
SUBSYSTEM=="hidraw", ATTRS{busnum}=="1", ATTRS{idVendor}=="046d", ATTRS{idProduct}=="ca04", GOTO="apply_rule"
# G29
SUBSYSTEM=="hidraw", ATTRS{busnum}=="1", ATTRS{idVendor}=="046d", ATTRS{idProduct}=="c24f", GOTO="apply_rule"
# G920
SUBSYSTEM=="hidraw", ATTRS{busnum}=="1", ATTRS{idVendor}=="046d", ATTRS{idProduct}=="c262", GOTO="apply_rule"

GOTO="dont_apply_rule"

LABEL="apply_rule"
# Allow any seated user to access the wheel.
# uaccess: modern ACL-enabled udev
# udev-acl: for Ubuntu 12.10 and older
TAG+="uaccess", TAG+="udev-acl"

# Or set permissions to read/write for "plugdev" group.
#MODE="0660", GROUP="plugdev"

LABEL="dont_apply_rule"
# Bye
